@using ViveCortelazor.Extensions

<div class="accommodation">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <a class="nav-link" href="@Model.Url">
                <img src="@Model.Image" class="img-fluid post-image rounded" alt="@Model.Title">
            </a>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <h2>
                <a class="nav-link" href="@Model.Url">
                    @Model.Title
                </a>
            </h2>
            <p class="text-muted">
                <a class="nav-link" href="@Model.Url">
                    @Model.Description
                </a>
            </p>
        </div>
    </div>
</div>