@inject IViewLocalizer Localizer

<!-- Cookie Consent Banner -->
<div data-nosnippet id="cookieConsentBanner">
    <p>
        <markdown content="@Html.Raw(Localizer["Cookies Text"].Value)"></markdown>
    </p>

    <!-- Aditional container to align checkboxs -->
    <div class="cookie-group">
        <div class="cookie-options">
            <label for="preferencesCookie" class="custom-switch">
                <input type="checkbox" id="preferencesCookie" name="preferences" />
                <span class="switch-slider"></span>
                <span class="option-text">@Localizer["Preferences"]</span>
            </label>
        </div>
        <div class="cookie-options">
            <label for="statisticalCookie" class="custom-switch">
                <input type="checkbox" id="statisticalCookie" name="statistical" />
                <span class="switch-slider"></span>
                <span class="option-text">@Localizer["Statistical"]</span>
            </label>
        </div>
        <div class="cookie-options">
            <label for="marketingCookie" class="custom-switch">
                <input type="checkbox" id="marketingCookie" name="marketing" />
                <span class="switch-slider"></span>
                <span class="option-text">@Localizer["Marketing"]</span>
            </label>
        </div>
    </div>

    <button onclick="setCookieConsent()" class="cookie-button cookie-button-preferences">@Localizer["Save Preferences"]</button>
    <button onclick="rejectAll()" class="cookie-button">@Localizer["Reject All"]</button>
    <button onclick="acceptAll()" class="cookie-button">@Localizer["Accept All"]</button>
</div>


<!-- Minimized Banner Button -->
<div data-nosnippet id="minimizedConsentBanner">
    <img alt="@Localizer["Cookies settings"]" src="~/images/cookie-color.svg" />
</div>