@using ViveCortelazor.Extensions

@inject IViewLocalizer Localizer


<!-- Cookie Consent Banner -->
<div id="cookieConsentBanner">
    <p>@Localizer["Our website uses cookies to enhance your experience. By continuing to use our website, you are agreeing to our use of cookies. Necessary cookies are always enabled."]</p>

    <!-- Aditional container to align checkboxs -->
    <div class="cookie-group">
        <div class="cookie-options">
            <input type="checkbox" id="preferencesCookie" name="preferences" />
            <label for="preferencesCookie"></label>
            <span>@Localizer["Preferences"]</span>
        </div>
        <div class="cookie-options">
            <input type="checkbox" id="statisticalCookie" name="statistical" />
            <label for="statisticalCookie"></label>
            <span>@Localizer["Statistical"]</span>
        </div>
        <div class="cookie-options">
            <input type="checkbox" id="marketingCookie" name="marketing" />
            <label for="marketingCookie"></label>
            <span>@Localizer["Marketing"]</span>
        </div>
    </div>

    <button onclick="setCookieConsent()" class="cookie-button">@Localizer["Save Preferences"]</button>
    <button onclick="allowAllCookies()" class="cookie-button">@Localizer["Allow All Cookies"]</button>
</div>


<!-- Minimized Banner Button -->
<div id="minimizedConsentBanner" onclick="openConsentBanner()">
    <img alt="@Localizer["Cookies settings"]" src="~/images/cookie-color.svg" />
</div>