@using ViveCortelazor.Extensions

@inject IViewLocalizer Localizer

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        @Localizer[ViewContext.GetLang()]
    </a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item @IsActive("es")" href="@Url.RouteUrlLang(ViewContext.RouteData.Values["action"]?.ToString(), "es")">
                Español
            </a>
        </li>
        <li>
            <a class="dropdown-item @IsActive("en")" href="@Url.RouteUrlLang(ViewContext.RouteData.Values["action"]?.ToString(), "en")">
                English
            </a>
        </li>
    </ul>
</li>

@{
    string IsActive(string language)
    {
        if (language.Equals(ViewContext.GetLang()))
        {
            return "active";
        }

        return string.Empty;
    }
}