@using System.Globalization
@using ViveCortelazor.Extensions

<title>@ViewData["Title"]</title>
<meta name="description" content="@ViewData["Description"]" />
<meta name="keywords" content="@ViewData["Keywords"]" />
<meta name="image" content="@ViewData["Image"]" />
<meta name="author" content="Evaristo Cuesta" />
<!-- Google - Search Engine Tags-->
<meta itemprop="name" content="@ViewData["Title"]" />
<meta itemprop="description" content="@ViewData["Description"]" />
<meta itemprop="image" content="@ViewData["Image"]" />
<!-- Twitter Meta Tags-->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="@ViewData["Title"]" />
<meta name="twitter:description" content="@ViewData["Description"]" />
<meta name="twitter:image" content="@ViewData["Image"]" />
<!-- Facebook Meta Tags-->
<meta property="og:url" content="@Url.Canonical(ViewContext.RouteData, @CultureInfo.CurrentCulture.Name)" />
<meta property="og:type" content="website" />
<meta property="og:title" content="@ViewData["Title"]" />
<meta property="og:site_name" content="Vive Cortelazor - Sierra de Aracena" />
<meta property="og:description" content="@ViewData["Description"]" />
<meta property="og:image" content="@ViewData["Image"]" />
<meta property="og:image:secure_url" content="@ViewData["Image"]" />
<meta property="og:image:alt" content="@ViewData["Description"]" />
<meta property="og:image:height" content="@ViewData["ImageHeight"]" />
<meta property="og:image:width" content="@ViewData["ImageWidth"]" />
<!-- Robots-->
<meta name="robots" content="@ViewData["Robots"]">
<!-- Icon-->
<link rel="icon" type="image/svg+xml" href="~/images/fox.svg">
<!-- Canonical-->
<link rel="canonical" href="@Url.Canonical(ViewContext.RouteData, @CultureInfo.CurrentCulture.Name)" />
<!-- Languages-->
<link rel="alternate" hreflang="es" href="@Url.Canonical(ViewContext.RouteData, "es")" />
<link rel="alternate" hreflang="en" href="@Url.Canonical(ViewContext.RouteData, "en")" />