@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    ViewData["Title"] = "Vive Cortelazor - Sierra de Aracena";
    ViewData["Keywords"] = Localizer["Keywords"];
    ViewData["Description"] = Localizer["Description"];
    ViewData["Image"] = "https://www.vivecortelazor.es/images/carousel/cortelazor1.jpg";
    ViewData["ImageWidth"] = "1920";
    ViewData["ImageHeight"] = "1080";
    ViewData["Robots"] = "all";
}

<div class="carousel-header">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img loading="lazy" src="~/images/carousel/cortelazor1.jpg" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                    <div class="text-center p-4">
                        <img class="z-3 main-logo mb-3 mb-md-4" src="~/images/fox.svg" alt="@Localizer["Cortelazor and Sierra de Aracena"]" />
                        <h1 class="text-white text-uppercase fw-bold mb-3 mb-md-4">Vive Cortelazor</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img loading="lazy" src="~/images/carousel/cortelazor2.jpg" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                    <div class="text-center p-4">
                        <img class="z-3 main-logo mb-3 mb-md-4" src="~/images/fox.svg" alt="@Localizer["Cortelazor and Sierra de Aracena"]" />
                        <h2 class="text-white text-uppercase fw-bold mb-3 mb-md-4">Vive Cortelazor</h2>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-secondary" aria-hidden="false"></span>
            <span class="visually-hidden-focusable">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon bg-secondary"></span>
            <span class="visually-hidden-focusable">Next</span>
        </button>
    </div>
</div>

<div class="container introduction">
    <div class="row">
        <h4 class="text-center">@Localizer["Title"]</h4>
    </div>
    <div class="row">
        <div class="col-md">
            <p>
                <markdown content="@Html.Raw(Localizer["Introduction1"].Value)"></markdown>
            </p>
        </div>
        <div class="col-md">
            <p>
                <markdown content="@Html.Raw(Localizer["Introduction2"].Value)"></markdown>
            </p>
        </div>
        <div class="col-md">
            <p>
                <markdown content="@Html.Raw(Localizer["Introduction3"].Value)"></markdown>
            </p>
        </div>
    </div>

</div>